table {
    border-collapse: collapse;
    border-spacing: 3px;
}

tr {

}

td.cell {
    width: 5px;
    height: 5px;
    padding: 0;
}

td.dead {
    background-color: darkblue;
}

td.alive {
    background-color: red;
}

td.preview-dead {
    background-color: darkslategray;
}

td.preview-alive {
    background-color: pink;
}

td.highlight {
    background-color: hsla(180,100%,100%,0.5);
}